<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alta Dispositivo</title>

    <!-- Bootstrap core CSS-->
    <link href="./styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="./styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="./styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="./styles/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

{{>commons/header.hbs}}

<div id="wrapper">

    {{>cliente/navBar.hbs}}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Alta de reglas
                </div>

                <div class="card-body">

                    <form class="form-label-group" action="/altaReglas" method="POST">

                        <div class="form-group col-md-8 ">
                            Dispositivos disponibles/Actuadores
                            <select class="form-control" title="actuador" name="actuador" id="sm">
                                {{#each dispositivos}}
                                    <option value={{id}}>{{nombre}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group col-md-8 ">
                            Acción
                            <select class="form-control" title="accion" name="accion" id="sm">
                                <option value="prenderDispositivo">Prender</option>
                                <option value="apagarDispositivo">Apagar</option>
                                <option value="cambiarModoAAhorro">Modo Ahorro</option>
                            </select>
                        </div>

                        <div class="form-group col-md-8 ">
                        Condicion
                        <select class="form-control" title="sensor" name="sensor" id="sensor">
                                <option value="humedad">Humedad</option>
                                <option value="luz">Luz</option>
                                <option value="movimiento">Movimiento</option>
                                <option value="temperatura">Temperatura</option>
                        </select>
                        <select class="form-control" title="criterio" name="criterio" id="criterio">
                                <option value="mayor">></option>
                                <option value="igual">=</option>
                                <option value="menor"><</option>
                        </select>
                        <input type="text" class="form-control" id="valorCondicion" placeholder="Valor a comparar" value="{{consumoHora}}" name="valorCondicion"/>

                        </div>


                            <div class="form-group" align="right">
                            <p>
                                <button class="btn btn-lg btn-primary" type="submit">Crear regla</button>
                            </p>

                            {{#if showAlert}}
                                {{#if isSuccess}}
                                    <div class="alert alert-success mx-auto mt-5 card-login">
                                        <strong>iujuu!!</strong> {{message}}
                                    </div>
                                {{else}}
                                    <div class="alert alert-danger mx-auto mt-5 card-login">
                                        <strong>Upss!!</strong> {{message}}
                                    </div>
                                {{/if}}
                            {{/if}}

                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{{>commons/logoutModal.hbs}}

{{>commons/scripts.hbs}}


</body>

</html>
