<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hogares</title>

    <!-- Bootstrap core CSS-->
    <link href="./styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="./styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="./styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="./styles/css/sb-admin.css" rel="stylesheet">
    <link href="./styles/css/toogle.css" rel="stylesheet">

</head>

<body id="page-top">

{{>commons/header.hbs}}

<div id="wrapper">

    {{>cliente/navBar.hbs}}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Consumo optimo (Simplex)</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div>
                        <span style="font-family:arial;font-size:14">
                            En esta pantalla usted podra obtener los indices SIMPLEX para sus dispositivos.
                            <br>El objetivo del presente análisis, es hallar una combinación óptima de las horas de uso de los electrodomésticos en su hogar, que favorezca la mitigación parcial de los cortes de suministro eléctrico durante el verano en la Ciudad.
                        El calculo esta basado en un total de 612kW mensuales, cuyo consumo fue comprobado como optimo por varios estudios estadísticos.
                            <br>Sea eficiente, sea <b>SIMPLEX</b>.

                            </span>
                        </div>
                    </div>
                        <br>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th width="60%">Dispositivo</th>
                                <th>Consumo real</th>
                                <th>Consumo optimo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each table}}
                                <tr>
                                    <td>{{dispositivo}}</td>
                                    <td>{{consumoReal}}kW</td>
                                    <td>{{index}}kW</td>
                                </tr>
                            {{/each}}

                            </tbody>
                        </table>

                    </div>
                </div></br>
                    {{#if eficiente}}<span style="font-family:arial;font-size:14;color:#1f871d;">Su hogar es eficiente. Felicitaciones! Su consumo durante el último periodo es de {{ultimoConsumo}}kW siendo el consumo eficiente esperado de 612kW.</span>
                    {{else}}<span style="font-family:arial;font-size:14;color:#af1f1f;">Su hogar no es eficiente. Su consumo durante el último periodo es de {{ultimoConsumo}}kW siendo el consumo eficiente esperado de 612kW.</span>{{/if}}

                {{#if showAlert}}
                    <div class="alert alert-danger mx-auto mt-5 card-login" style="-webkit-animation: bounce 800ms ease-out;
                                                                       -moz-animation: bounce 800ms ease-out;
                                                                       -o-animation: bounce 800ms ease-out;
                                                                       animation: bounce 800ms ease-out;">
                        <strong>Upss!!</strong> {{message}}.
                    </div>
                {{/if}}

                <br>
                <br>
                <div>
                    <form class="form-signin" action="/simplex" method="POST">
                        <span style="font-family:arial;font-size:14">{{simplexAuto}}</span>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{{simplexAutoCTA}}</button>
                    </form>
                </div>
        </div>

    </div>

            <!--<p class="small text-center text-muted my-5">-->
            <!--<em>More table examples coming soon...</em>-->
            <!--</p>-->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{{>commons/logoutModal.hbs}}

{{>commons/scripts.hbs}}

</body>

</html>