<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Baja-modificacion de reglas</title>

    <!-- Bootstrap core CSS-->
    <link href="./styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="./styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="./styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="./styles/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

<script>
    function deleteRegla() {
        $.ajax({
            url : "/seleccionReglas/" + getNameRegla(),
            type: "delete",
            success    : function(){
                location.reload();
            },
            error: function (respondError) {
                if(respondError.status == 410 || respondError.status == 400) {
                    showAlertError("No se pudo eliminar la regla seleccionada");
                }else{
                    showAlertError("Ocurrio un error. Intenta nuevamente");
                }
            }
        });
    }

    function getValue(element) {
        return element.value;
    }

    function getNameRegla() {
        let select = getElement('idRegla');

        return select.options[ select.selectedIndex].value;
    }

    function getElement(name) {
        return document.getElementById(name);
    }

</script>

{{>commons/header.hbs}}

<div id="wrapper">

    {{>cliente/navBar.hbs}}

    <div id="content-wrapper">

        <!-- /.container-fluid -->
        <div class="container-fluid">

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Seleccion de reglas
                </div>

                <div class="card-body">

                    <form class="form-label-group" action="/seleccionReglas" method="POST">

                        <div class="form-group col-md-8 ">
                            Reglas disponibles
                            <select class="form-control" title="regla" name="regla" id="idRegla">
                                {{#each reglas}}
                                    <option value={{id}} id={{id}}>{{dispositivo}} - {{accion}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group" align="right">
                            <p>
                                <button class="btn btn-lg btn-danger" onclick="deleteRegla()">eliminar</button>
                                <!--<button class="btn btn-lg btn-danger"  onclick="deleteMethodology()">Cancelar</button>-->
                                <button class="btn btn-lg btn-primary" onclick="modificarRegla()">modificar</button>
                                <!--<button class="btn btn-lg btn-danger"  onclick="deleteMethodology()">Cancelar</button>-->
                            </p>

                        </div>
                    </form>
                </div>
                <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
            </div>

            <!--<p class="small text-center text-muted my-5">-->
            <!--<em>More table examples coming soon...</em>-->
            <!--</p>-->

        </div>

        {{#if showAlert}}
            {{#if isSuccess}}
                <div class="alert alert-success mx-auto mt-5 card-login">
                    {{message}}
                </div>
            {{else}}
                <div class="alert alert-danger mx-auto mt-5 card-login">
                    {{message}}
                </div>
            {{/if}}
        {{/if}}

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{{>commons/logoutModal.hbs}}

{{>commons/scripts.hbs}}


</body>

</html>
